/* UUID: 383693-301641-310276-90346- */ 

html {
    margin: auto;
    width: min-content;
}
body {
    margin: 0;
    width: min-content;
}
img {
  border: 0px;
}

button, input, optgroup, select, textarea {
  margin: 0px;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  font-stretch: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  color: inherit;
}

input {
  line-height: normal;
}

* {
  box-sizing: border-box;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  vertical-align: middle;
}

p {
  margin: 0px 0px 10px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.label {
  display: inline;
  padding: 0.2em 0.6em 0.3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: rgb(255, 255, 255);
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25em;
}

.label:empty {
  display: none;
}

.viewport {
  user-select: none;
  width: 100%;
  height: 100%;
}

.element {
  cursor: default;
  position: absolute;
  overflow: hidden;
}

.element * {
  vector-effect: non-scaling-stroke;
}

.wordwrap {
  white-space: pre-wrap;
  word-wrap: break-word;
}

body, input, button, select, textarea {
  font-family: proxima_nova, Arial, Helvetica, sans-serif;
}

input, textarea, select {
  font-size: 13px;
  font-weight: lighter;
}

.element.fc.Button .btn {
  border-style: none;
  width: 100%;
  height: 100%;
  font-weight: normal;
  background-size: 100%;
  cursor: inherit;
}

.element.fc.Button .btn.system {
  display: flex;
  align-items: center;
}

.element.fc.Button .btn .img-container {
  height: 100%;
  margin: 0px 5%;
}

.element.fc.Button .btn.system div img {
  width: auto;
  height: 90%;
}

.element.fc.Textbox .textView {
  width: 100%;
  height: 100%;
}

.element.fc.Textbox .textView-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.textView {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
  box-shadow: none;
  height: 80%;
  padding-left: 15px;
  border-style: solid;
  outline: none;
}

.element.fc.Label {
  border-style: none;
}

.element.fc.Label .label-wrapper {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
}

.element.fc.Label .label.wordwrap {
  width: 100%;
  height: 100%;
  position: relative;
  word-break: break-word;
  border-radius: 0px;
}

.element.fc.Label .label {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: normal;
}

.element.fc.Image {
  overflow: hidden;
  text-align: center;
}

.element.fc.Container {
  background-color: rgb(238, 238, 238);
}

.element.fc.ListView {
  background-color: rgb(238, 238, 238);
}

.element.fc.ListViewCell {
  overflow: hidden;
}

.element.fc.Screen {
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 6px;
  background-size: cover;
  overflow: visible;
}

.snapp-html5.fc.Screen {
  overflow: hidden;
  position: relative;
  margin: auto;
  display: none;
  transform: none !important;
}

@font-face {
  font-family: fjs97961;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs897785;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs239513;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs939364;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: Montserrat-Medium;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs65732;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs300785;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs772879;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs658858;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs913897;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs649351;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs601605;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs880181;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs542337;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs120650;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs568264;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs181345;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs692366;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs904767;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs813557;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs402558;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs732373;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs130655;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs962157;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs166964;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs423124;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs946013;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs607035;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs682206;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs454189;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs347299;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs436113;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs552637;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs235939;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs403765;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs470016;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs891932;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs444514;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs494741;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs584907;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs18620;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/284006f9-b45d-4848-8245-adcfa3d9eb1f?direct=true") format("truetype");
}

@font-face {
  font-family: fjs693999;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs812030;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs615738;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs167579;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs637082;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs28452;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs136049;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs962097;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs306643;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs559132;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs471763;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs885554;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs264870;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs144543;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs123100;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs346674;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs805138;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs717094;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs56167;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs955547;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs451814;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs917437;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs751260;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs469183;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs274534;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs985164;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs83493;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs799318;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs587715;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs338724;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs568138;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs38390;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs39556;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs296465;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs868669;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs508608;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs58332;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs665855;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs513704;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs229728;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs793679;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs421938;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs894134;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

@font-face {
  font-family: fjs338908;
  src: url("https://staging.snapp.click/api/v2/raws/projects/resources/c35b1f82-2030-4f2f-ba70-2847d532cb2a?direct=true") format("truetype");
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.input-wrapper {
  text-align: left;
  color: rgb(67, 67, 67);
  border-bottom: 1px solid rgb(52, 152, 219);
  font-size: 24px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

.main-button {
  background: linear-gradient(to right, rgb(41, 128, 185) 0%, rgb(52, 152, 219) 100%);
  width: 295px;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
  margin: 10px;
  border-radius: 200px;
}

#time-date-wrapper {
  font-family: Montserrat, sans-serif;
  color: white;
  display: table;
  margin: 0px auto;
}

#time-date-inner {
  display: table-row;
}

.date-col-left, .date-col-right {
  display: table-cell;
  vertical-align: middle;
}

#date {
  font-size: 8em;
  text-align: right;
  font-weight: 200;
  margin: 0px;
}

#month {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 2rem;
  margin: 5px;
  text-align: left;
}

#day {
  font-weight: 300;
  font-size: 4rem;
  margin: 5px;
  text-align: left;
}

#time-date-wrapper {
  font-family: Montserrat, sans-serif;
  color: white;
  display: table;
  margin: 0px auto;
}

#time-date-inner {
  display: table-row;
}

.date-col-left, .date-col-right {
  display: table-cell;
  vertical-align: middle;
}

#date {
  font-size: 8em;
  text-align: right;
  font-weight: 200;
  margin: 0px;
}

#month {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  font-size: 2rem;
  margin: 5px;
  text-align: left;
}

#day {
  font-weight: 300;
  font-size: 4rem;
  margin: 5px;
  text-align: left;
}